:root {
  --margin-right: 30px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans";
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
}

/* Header */
.header {
  padding-top: 1em;
  display: grid;
  grid-column: 2;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 1em;
}
.flex-container {
  display: flex;
  padding-left: 20px;
  align-items: center;
  gap: 20px;
}
#upper-section > p {
  margin-right: var(--margin-right);
  font-weight: bold;
}
#upper-section {
  margin-bottom: 20px;
}
#search-field {
  background-color: #e7e7e7;
  flex: 1;
  padding: 1em;
  height: 20px;
  border: none;
  border-radius: 15px;
}
input:focus {
  outline: none;
  /* border: 10px solid #b10606; */
  box-shadow: 0 0 0 1px rgba(99,102,241,0.3);
}
#notification-icon,
#search-icon {
  width: 30px;
}
#notification-icon {
  margin-left: 60px;  
}
#lower-section {
  display: flex;
  justify-content: space-between;
}
.user-name {
  display: flex;
  align-items: center;
  gap: inherit;
}
#mini-profile{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
#max-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.user-name p:nth-of-type(2) {
  font-weight: bold;
}
.button {
  display: flex;
  margin-right: var(--margin-right);
  gap: 20px;
}
.btn {
  background-color: rgb(63, 135, 216);
  color: white;
  border: none;
  font-size: 13px;
  padding: 0.8em 2em;
  border-radius: 2em;
}
