:root {
  --margin-right: 30px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans";
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

/* Header */
.header {
  padding-top: 1em;
  display: grid;
  grid-column: 2;
  padding-bottom: 1em;
}
.flex-container {
  display: flex;
  padding-left: 20px;
  align-items: center;
  gap: 20px;
}
#upper-section > p {
  margin-right: var(--margin-right);
  font-weight: bold;
}
#upper-section {
  margin-bottom: 20px;
}
#search-field {
  background-color: #e7e7e7;
  flex: 1;
  padding: 1em;
  height: 20px;
  border: none;
  border-radius: 15px;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(99,102,241,0.3);
}
#notification-icon,
#search-icon {
  width: 30px;
}
#notification-icon {
  margin-left: 60px;  
}
#lower-section {
  display: flex;
  justify-content: space-between;
}
.user-name {
  display: flex;
  align-items: center;
  gap: inherit;
}
#mini-profile{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
#max-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.user-name p:nth-of-type(2) {
  font-weight: bold;
}
.button {
  display: flex;
  margin-right: var(--margin-right);
  gap: 20px;
}
.btn {
  background-color: rgb(63, 135, 216);
  color: white;
  border: none;
  font-size: 13px;
  padding: 0.8em 2em;
  border-radius: 2em;
}

/* Sidebar */
.sidebar {
  grid-row: 1 / 3;
  background-color: rgb(63, 135, 216);
  color: white;
  padding: 1em 1em;
}
.sidebar > div {
  display: flex;
  gap: 8px;
  align-items: center;
}
.dashboard {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2em;
}
.personal-info, 
.account-info {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 15px;
}
.personal-info > svg,
.account-info > svg {
  height: 18px;
  width: 18px;
}
.community {
  margin-bottom: 50px;
}

/* Main content */
.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e7e7e7;
  padding: 1em;
  gap: 20px;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 1fr 1fr;
  gap: 20px;
}
.box {
  background-color: white;
  border-left: 2px solid orange;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
  border-radius: 8px;
  padding: 1em;
  position: relative;
}
.star,
.eye,
.source-fork {
  width: 15px;
}
.icons {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
span {
  display: block;
  font-weight: bold;
}
.title {
  grid-column: 1 / span 2;
  font-weight: bold;
}
.right-column {
  display: grid;
  grid-template-rows: 20px 1fr 20px 0.5fr;
  gap: 20px;
}
.announcements,
.trending {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
}
.announcements {
  padding: 1.5em;
}
hr {
  margin: 15px 0px;
}
.trending > div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.trending-text {
  font-size: .8rem;
}
.trending-text p:nth-of-type(2) {
  color: rgb(103, 103, 103);
}